[user]
    name  = Takeshi Kanmae
    email = tkanmae@gmail.com
[url "https://"]
    insteadOf = git://
[color]
    ui = auto
    status = auto
    diff = auto
[difftool.latex]
    cmd = git-latexdiff "$LOCAL" "$REMOTE"
[difftool]
    prompt = false
[alias]
    ad = add
    br = branch
    ci = commit
    co = checkout
    sh = show
    st = status -sb
    amend = commit --amend

    # log
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    oneline = log --oneline

    # fetch
    ft = fetch
    fo = fetch origin

    # diff
    df = diff
    dc = diff --cached
    dm = diff master
    dw = diff --color-words
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    d4 = diff HEAD~~~~

    # http://d.hatena.ne.jp/thinca/20120924/1348491052
    cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~

    latexdiff = difftool -t latex
[core]
    excludesfile = ~/.gitignore
    editor = vim
[merge]
    tool = vimdiff
