# ----------------------------------------------------------------------
# C/C++
# ----------------------------------------------------------------------
# Compiled objects
*.o
# Static libraries
*.a
*.la
# Dynamic libraries
*.so
# Debug symbols
*.dSYM/

# ----------------------------------------------------------------------
# Python
# ----------------------------------------------------------------------
*.py[co]
__pycache__/
# Packages
*.egg
*.egg-info
develop-eggs
# Installer logs
pip-log.txt
# IPython Notebook
.ipynb_checkpoints/

# ----------------------------------------------------------------------
# LaTeX
# ----------------------------------------------------------------------
*.aux
*.bbl
*.blg
*.dvi
*.gl[gos]
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lo[fgt]
*.nlo
*.toc
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
# Latexmk
*.fdb_latexmk

# ----------------------------------------------------------------------
# backup files
# ----------------------------------------------------------------------
*~
*.bak
*.sw[po]

# ----------------------------------------------------------------------
# Emacs
# ----------------------------------------------------------------------
\#*\#
*.elc

# ----------------------------------------------------------------------
# CMake
# ----------------------------------------------------------------------
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

# ----------------------------------------------------------------------
# Tags
# ----------------------------------------------------------------------
# GNU Global
GTAGS
GRTAGS
GSYMS
GPATH
# ctags/etags
TAGS
tags

# ----------------------------------------------------------------------
# Mac OSX
# ----------------------------------------------------------------------
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ----------------------------------------------------------------------
# Sublime Text 2
# ----------------------------------------------------------------------
*.sublime-workspace

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
