[user]
    name  = Takeshi Kanmae
    email = tkanmae@gmail.com

[core]
    excludesfile = ~/.gitignore_global
    pager = delta

[url "https://"]
    insteadOf = git://

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
	colorMoved = zebra
    compactionHeuristic = true

[rebase]
    autostash = true

[difftool]
    prompt = false

[difftool.latex]
    cmd = git-latexdiff "$LOCAL" "$REMOTE"

[color]
    ui = auto
    status = auto
    diff = auto

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[alias]
    ad = add
    br = branch
    ci = commit
    co = checkout
    sh = show
    st = status
    amend = commit --amend
    # log
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
    lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    oneline = log --oneline
    # fetch
    ft = fetch
    fo = fetch origin
    # diff
    df = diff
    dc = diff --cached
    dm = diff master
    dw = diff --color-words
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    d4 = diff HEAD~~~~
    d5 = diff HEAD~~~~~
    d6 = diff HEAD~~~~~~
    d7 = diff HEAD~~~~~~~
    d8 = diff HEAD~~~~~~~~
    d9 = diff HEAD~~~~~~~~~
    # http://d.hatena.ne.jp/thinca/20120924/1348491052
    cancel = !git commit -a -m 'Temporary commit for cancel' && git reset --hard HEAD~
    latexdiff = difftool -t latex
	show-pr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[color "status"]
	branch = normal
	added = 10 normal
	updated = 10 normal
	localbranch = normal
	changed = 11 normal
	header = normal
	remotebranch = normal
	nobranch = normal bold
	unmerged = 9 normal
	untracked = normal dim
[color "branch"]
	plain = normal
	remote = normal
	current = normal reverse
	local = normal
	upstream = normal
[color "remote"]
	hint = normal dim
	success = 2 normal
	error = 1 normal
	warning = 3 normal
[color "interactive"]
	header = normal dim bold
	prompt = 15 4
	help = normal dim
	error = normal bold
[color "diff"]
	commit = normal
	newMoved = 11 normal
	oldMovedAlternativeDimmed = 4 normal dim
	frag = normal dim italic
	oldMovedAlternative = 4 normal
	contextBold = normal bold
	newBold = 10 normal bold
	context = normal
	oldMoved = 3 normal
	oldBold = 1 normal bold
	newMovedDimmed = 11 normal dim
	func = normal dim italic
	meta = normal dim
	newDimmed = 10 normal dim
	newMovedAlternative = 12 normal
	new = 10 normal
	newMovedAlternativeDimmed = 12 normal dim
	whitespace = normal 9
	oldMovedDimmed = 3 normal dim
	oldDimmed = 1 normal dim
	old = 1 normal
[color "decorate"]
	branch = normal
	tag = normal
	remotebranch = normal
	stash = normal dim
	grafted = normal bold
	HEAD = normal italic
