*

!.gitignore

!nvim/
!nvim/*
!nvim/lua/*
!nvim/lua/plugins/*
!nvim/lua/user/*
!nvim/lua/user/plugin_config/*
!nvim/coc-settings.json

!zsh/
!zsh/*

!inkscape/extensions/**/*
!mpv/**/*
!pudb/pudb.cfg

